* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sah.pc.in -text
/apertium-sah.post-sah.dix -text
/apertium-sah.sah.lexc -text
/apertium-sah.sah.rlx -text
/apertium-sah.sah.twol -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
/modes.xml -text
/sah.prob -text svneol=unset#unset
tests/aorist.yaml -text
tests/cases.yaml -text
tests/miscellaneous.yaml -text
tests/possessives.yaml -text
